<h4>Business One LMS Demo</h4>
<div>
    <input id="button" type="button" value=">" (click)="gotoHome()">
</div>
<form>
    <label>Employee Code:</label>
    <br/>
    <input type = "text" placeholder = "Employee Code" name = "code" [(ngModel)] = "dataForm.code"/>
    <br/>
    <label>Total Leaves:</label>
    <input type = "number" placeholder = "Total leaves" name = "total_leaves" [(ngModel)] = "dataForm.total_leaves"/>
    <br/><br/> <br/>
    <label>From Date:</label>
    <br/>
    <input type = "text" placeholder = "From Date" [(ngModel)] = "dataForm.fdate1" name = "fdate1"/>
    <br/>
    <label>To Date:</label>
    <br/>
    <input type = "text" placeholder = "To Date" name = "tdate1"[(ngModel)] = "dataForm.tdate1"/>
    <br/>
    <label>Applied Leaves:</label>
    <br/>
    <input type = "number" placeholder = "Applied leaves" name = "applied_leaves1" [(ngModel)] = "dataForm.applied_leaves1"/>
    <br/>
    <input type="submit" (click)='formSubmit()' value="Submit">

</form>
