h3 {text-align: center;}
#button {
    line-height: 12px;
    width: 25px;
    font-size: 15pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
}